# EDA on Housing.csv

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
# Loading the dataset

df = pd.read_csv("C:\\Users\\AGAMDEEP SINGH\\Desktop\\Data Science\\AI ML PreGrad Course\\EDA using Python\\Housing.csv")
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

Basic Info

In [ ]:
df.info()

In [ ]:
# Checking for duplicates

print("\nDuplicates:")
df.duplicated().sum()


# There are no duplicates in the dataset - all items ae unique

In [ ]:
# Checking for missing values

print("\nMissing Values:")
df.isnull().sum()


# Threre is no data missing in the dataset

In [ ]:
# Summary of basic statistics for the numeric data in the dataset

df.describe(include='object')

In [ ]:
# Summary of basic statistics for the numeric data in the dataset

df.describe(include='number')

Statistical Analysis

In [ ]:
# Price

df['price'].mean()